.main {
    display: flex;
  
    align-items: center;

    padding: 0 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.link {
    display: flex;
    align-items: center;
    color: #8585AD;
    text-decoration: none;
    height: 64px;
  
}

.link_active {
    display: flex;
    align-items: center;
    color: #F2F2F3;
    text-decoration: none;
    height: 64px;
}

.navigation {
    align-self: flex-start;
    width: 320px;
    
}

.list {
    list-style: none;
    padding-left: 0;
    max-width: 844px;
    height: 868px;
    overflow-y: scroll;
}