.header {
    display: flex;
    height: 88px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border: none;
    height: 56px;
    align-items: center;
    color: #8585AD;
}
.link_active {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border: none;
    height: 56px;
    align-items: center;
    color: #F2F2F3;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 56px;
    padding-left: 0;
}

/* .link {
    display: flex;
    background: none;
    border: none;
    height: 56px;
    align-items: center;
} */

.link.active {
    color: red;
  }

.logo__wrapper {
    width: fit-content;
    position: absolute;
    display: flex;
    margin: 0 auto;
    right: 0;
    left: 0;
}

@media(max-width: 1024px){
    /* .link p {
      display: none;
    } */
    .header {
        padding: 0 20px;
      }
  }